<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{url_for('static', filename='letter-a.png')}}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
  <div class="container">
    <h2>Welcome!</h2>
    <div class="content-container">
      <img src="{{url_for('static', filename='elephant.png')}}" id="elephant">
      <p> This is the default landing page for <a href="https://www.facebook.com/classiio/">Class I/O</a>, a facebook bot!</p>
    </div>
    <div class="footer">
      <p>
        Check out my github!
      </p>
      <p>
        <a href="https://www.github.com/lchsam/">Github</a> | sam9072000@gmail.com
      </p>
      <div>Icon(s) made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </div>
</body>
